* {
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #222222;
}

a {
  color: #fff;
  text-decoration: none;
}
